.test {
	height: 80vh;
}

#grid {
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
	position: relative;
}

.tile {
	background-color: rgb(212, 235, 235);
	border: 1px solid black;
}
