.test {
    height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Poiret One';
    font-size: 16px;
    letter-spacing: 2px;
    height: 50px;
    width: 200px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: 900;
    transition: 150ms;
}

button:hover {
    background-color: #00ffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 10vh;
    width: 95%;
    gap: 10px;
}

.title {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    letter-spacing: 4px;
    margin-right: auto;
}
